
.footer-logo{
    width: 140px!important;
    height: 20px!important;
}
.footer-icons {
  color: white;
  margin-top: 60px !important;
  a {
    padding-left: 6px;
  }
}
.footer-nav{
    font-weight: 300;
}
.copyright {
  p {
    margin-top: 44px;
  }
  text-align-last: end;
  button {
    text-align-last: center;
  }
}